@import '@/styles/colors';

.button {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: $bg;
  border: 1px solid $border-color;
  padding: 20px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  margin: -1px;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: #404040b3;
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
