@import '@/styles/vars';
@import '@/styles/colors';

.container {
  background: $bg;
  padding: 0 6px;
}

.hero {
  width: 100%;
  border: solid;
  border-radius: 26px;
  border-width: 1px;
  margin: -1px 0 0 0;
  overflow: hidden;
  position: relative;
  &Container {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    font-size: 14px;
    height: calc(100dvh - 70px);
    max-width: 768px;
    transition: height 0.5s linear;

    @media screen and (max-width: 580px) {
      padding: 12px;
      flex-direction: column;
      justify-content: flex-start;
    }

    @media screen and (max-width: 580px) and (orientation: landscape) {
      font-size: 12px;
      flex-direction: row;
    }
  }
}

.fancy {
  position: absolute;
  top: -3550px;
  left: calc(-4455px + 80%);
}

.image {
  width: $image-size;
  height: $image-size;
  object-fit: contain;
  top: 22px;
  left: 22px;
  z-index: 1000000000;
  border: 1px solid $border-color;
  border-radius: 22px;
  background: $bg;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.autotype {
  &Container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }
  background: $bg;
  border: 1px solid $border-color;
  padding: 14px 20px;
  white-space: pre-line;
  position: relative;
  &__first {
    width: 277px;
    margin: 10% 10% auto auto;
    
    @media screen and (max-width: 580px) {
      margin: 10% auto auto auto;
    }
    
    @media screen and (max-width: 580px) and (orientation: landscape) {
      margin: 10% auto auto auto;
      width: 180px;
    }
    
    @media screen and (max-width: 375px) {
      width: 180px;
      margin: 10% 0 0;
    }
  }
  &__second {
    min-width: 277px;
    margin: 15% 0 auto 0;
    @media screen and (max-width: 580px) and (max-height: 490px) {
      display: none;
    }
    
    @media screen and (max-width: 375px) {
      display: none;
    }
  }
  &::after {
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid $border-color;
    background: $bg;
    position: absolute;
    top: -6px;
    left: -6px;
  }
}
